.about {
  background-color: #4c8fcd;
  padding: 15vh 0;

  .a-wrapper {
    max-width: 700px;
    margin: auto;

    &__textbox {
      color: #fff;
      font-size: 1.6rem;
      font-weight: 300;
      line-height: 2.8rem;
      margin: 80px 0;
    }
  }
}

@media screen and (max-width: 700px) {
  .about {
    .a-wrapper {
      width: 90%;
      margin: auto;

      &__textbox {
        font-size: 1.4rem;
      }

      .yt iframe {
        width: 100%;
      }
    }
  }
}
