html {
  font-size: 62.5%;
  font-family: "Roboto", "Noto Sans JP", sans-serif;
  color: #333;
  background-color: #f7f8f9;
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

.flex {
  display: flex;
}

.mt-30 {
  margin-top: 30px;
}

.text-center {
  text-align: center;
}

// Amazon購入ボタン
.btnWrapper {
  font-size: 1.6rem;
  font-weight: bold;

  &__btn {
    background: #ff9900;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    border-radius: 999px;
    color: #fff;
    max-width: 200px;
    width: 80%;
    height: 51px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

    .small {
      font-size: 1.2rem;
      padding-bottom: 0.2rem;
    }
  }
}

// ヘッダー購入ボタン
.buyBtn {
  background: linear-gradient(0deg, #67a8e3 -9.29%, #86c5ff 160.71%);
  box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
  width: 150px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
}

// 共通見出し2
.commonHeading2 {
  border-left: 20px solid #fff;
  padding-left: 3rem;

  .main {
    font-size: 4rem;
    font-weight: bold;
    color: #fff;
    padding: 1rem 0;
  }
  .sub {
    font-size: 1.6rem;
    font-weight: bold;
    color: #fff;
  }
}

.designedHeading {
  position: relative;
  .sub-bg {
    background-color: #6eb4f4;
    position: absolute;
    height: 100%;
    top: -15%;
    width: calc(100% - 10%);
    z-index: 1;
    border-radius: 0 40px 40px 0;
  }
  .main-bg {
    background-color: #4c8fcd;
    z-index: 10;
    position: relative;
    width: calc(100% - 10%);
    margin-left: 10%;
    padding: 50px 100px;
    border-radius: 40px 0 0 40px;
  }
}

// ヘッダー
.header {
  position: fixed;
  width: 100%;
  backdrop-filter: blur(6px);
  background-color: rgba(255, 255, 255, 0.1);
  height: 80px;
  display: flex;
  z-index: 1000;

  .h-nav {
    display: flex;
    justify-content: end;
    width: 100%;
    max-width: 1100px;
    margin: auto;

    &__wrapper {
      display: flex;
      gap: 5rem;
      margin: 0 50px;

      &--item {
        display: flex;
        align-items: center;

        a {
          font-size: 1.4rem;
          font-weight: bold;
        }
      }
    }
  }

  .humburger-menu {
    display: none;
  }
}

.footer {
  background-color: #333;
  height: 80px;
  display: grid;
  place-items: center;

  small {
    color: #fff;
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 700px) {
  .commonHeading2 {
    .main {
      font-size: 2.4rem;
    }
    .sub {
      font-size: 1.4rem;
      line-height: 2rem;
    }
  }

  .designedHeading {
    .sub-bg {
      border-radius: 0 20px 20px 0;
    }
    .main-bg {
      padding: 4rem 2rem;
      border-radius: 20px 0 0 20px;
      line-height: 2rem;
    }
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 999px;
    top: 10px;
    right: 10px;

    .h-nav {
      display: none;
    }

    .humburger-menu {
      display: block;
    }
  }

  .btnWrapper {
    &__btn {
      width: 100%;
    }
  }
}
